.conclusao {
    width: 30%;
    display: flex;
    margin: 20px auto 20px auto;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #ffa600;
    box-shadow: 0 0 10px rgb(255, 196, 0);
    padding: 10px;
}

.conclusao button {
    margin: 10px auto 10px;
}

p {
    text-align: left;
}

@media only screen and (max-width: 767px) {
    .conclusao {
        display: flex;
        width: 60%;
        height: auto;
        margin: 20px auto 20px auto;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        border-radius: 10px;
        border: 2px solid #00ff2a;
        box-shadow: 0 0 10px rgb(81, 255, 0);
        padding: 10px;
    }
}