<form (ngSubmit)="submitForm()" #form="ngForm" class="form">
    <mat-form-field class="middle">
        <mat-label>Nome do solicitante</mat-label>
        <input 
            type="text" matInput 
            placeholder="Digite o seu nome completo" 
            value="nome" id="nome" 
            name="nome" 
            ngModel required 
            [(ngModel)]="formData.nome"
        >
    </mat-form-field>
    <mat-form-field class="middle">
        <mat-label>Valor desejado</mat-label>
        <span matPrefix>R$</span>
        <input type="number" matInput 
        placeholder="Valor do empréstimo" 
        value="valorEmprestimo" 
        id="valorEmprestimo" 
        name="valorEmprestimo" 
        ngModel required 
        [(ngModel)]="formData.valorEmprestimo"
        >
        
    </mat-form-field>
    <mat-form-field class="middle">
        <mat-label>Número de parcelas</mat-label>
        <input type="text" matInput 
        placeholder="Quantidade de parcelas" 
        [value]="formData.numeroParcelas" 
        id="numeroParcelas" 
        name="numeroParcelas"
        ngModel required 
        [(ngModel)]="formData.numeroParcelas"
        >
    </mat-form-field>
        
    <button mat-raised-button color="warn" type="submit" [disabled]="!form.valid">
        Simular Empréstimo
    </button>
</form>

<div class="resumo" *ngIf="resumo">
    
    <span>
        <b>{{formData.nome}}</b>, essa é sua simulação:
    </span>
    <br>
    <p>
        Valor emprestado:  {{formData.valorEmprestimo| currency:'BRL':'symbol':'1.2-2'}} <br>
        Valor das parcelas: {{valorParcela | currency:'BRL':'symbol':'1.2-2'}}<br>
        Número de parcelas: {{parcelas}} <br>
        Total do valor com juros: {{valorTotal | currency:'BRL':'symbol':'1.2-2'}} <br>
    </p>
        
</div>

  
<div class="popup" *ngIf="showPopup">
    <h2>Confirmar empréstimo</h2>
    <p>
        Valor das parcelas: {{valorParcela | currency:'BRL':'symbol':'1.2-2'}}<br>
        Número de parcelas: {{ parcelas }}<br>
        Total do valor com juros: {{valorTotal | currency:'BRL':'symbol':'1.2-2'}}
    </p>
    <button  mat-raised-button color="warn" (click)="confirm()">Confirmar</button>
    <button  mat-stroked-button color="warn" (click)="cancel()">Cancelar</button>
</div>

<button mat-raised-button color="warn" [disabled]="!confirmar" *ngIf="confirmar" (click)="resume()">
    Confirmação
</button>